[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist"

[dev]
  # command = "npm run dev"
  targetPort = 5173
  port = 8888
  autoLaunch = false

[functions]
  node_bundler = "esbuild"

# SEGURIDAD ANTI-SEO (Borrar esta sección antes de producción)
[[headers]]
  for = "/*"
  [headers.values]
    X-Robots-Tag = "noindex"
