[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist"

[dev]
  command = "npm run dev"
  targetPort = 5173
  port = 3000
  autoLaunch = false

[functions]
  node_bundler = "esbuild"
